// 制作鼠标放到qq图标显示QQ二维码
.qq {
    position: relative;
}
.qq:hover .pic_qq {
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 99;
    width: 7.5rem;
    max-width: none;
    height: 7.5rem;
    transform: scale(0);
    transform-origin: top right;
    opacity: 0;
    border: .3125rem solid #0085ba;
    border-radius: .25rem;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: 0;
}
.qq:hover .pic_qq {
    transform: scale(1);
    opacity: 1;
}
// 制作鼠标放到微信图标显示微信二维码
// --------------------------
.weixin {
    position: relative;
}
.weixin:hover .pic_weixin {
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 99;
    width: 7.5rem;
    max-width: none;
    height: 7.5rem;
    transform: scale(0);
    transform-origin: top right;
    opacity: 0;
    border: .3125rem solid #0085ba;
    border-radius: .25rem;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: 0;
}
.weixin:hover .pic_weixin {
    transform: scale(1);
    opacity: 1;
}
// --------------------------